<!DOCTYPE html>
<html>
<head>
  <title>Text Summarization and Classification</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img  src="{{ url_for('static', filename='img/icon.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="h3">Text Summarization and Classification</span>
      </a>
    </div>
  </nav>
  
  <div class="container py-4 flex-grow-1">
    <div class="mb-3">
      <textarea class="form-control" id="input-text" rows="6" placeholder="Enter your text here..."></textarea>
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-primary btn-lg btn-block" id="submit-button" onclick="processText()">Enter</button>
      <hr> <!-- Horizontal Divider -->
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header">
            <h2>Summary</h2>
          </div>
          <div class="card-body">
            <p class="card-text" id="summary-text"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header">
            <h2>Classification</h2>
          </div>
          <div class="card-body">
            <p class="card-text" id="classification-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer bg-light text-center py-3 mt-auto">
    <div class="container">
      <span class="text-muted">&copy; 2023 Projektname</span>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
